.DS_Store
.AppleDouble
.LSOverride

xcuserdata/
DerivedData/
build/

*.xcscmblueprint
*.xccheckout
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

Pods/
!Podfile.lock

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

MovieApp/Resource+DefaultsFile/Configurations/Dev.xcconfig