//
//  Dev.xcconfig
//  MovieApp
//
//  Created by Roby Setiawan on 19/06/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
TMDB_BASE_URL = https:/$()/api.themoviedb.org/3
TMDB_API_KEY = set_api_key_here
